Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-narrowing-conversions,
  -bugprone-assignment-in-if-condition,
  -bugprone-suspicious-string-compare,
  modernize-*,
  -modernize-avoid-c-style,
  misc-*,
  -misc-use-anonymous-namespace,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*
