Checks: |
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-suspicious-string-compare,
  -bugprone-suspicious-memory-comparison,
  -bugprone-easily-swappable-parameters,
  -bugprone-signed-char-misuse,
  performance-*,
  -performance-enum-size,
  portability-*,
  misc-*,
  -misc-definitions-in-headers,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  -misc-non-private-member-variables-in-classes
