# Thanks: <https://github.com/toggins/Klawiatura>.

name: Check commit for formatting errors

on:
  push:
  pull_request:

jobs:
  check:
    name: Lint
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Update clang-format
        run: bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
      - name: Checkout (code only)
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            src/
            include/
      - name: Fail on bad formatting
        run: shopt -s globstar; clang-format --dry-run -Werror -- **/*.{h,c,cpp}
