name: Publish NutPuncher for major platforms

on:
  push:
    tags: [stable, staging]

jobs:
  docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    if: github.ref_name == 'stable'
    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write
    needs: binary
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: schwungus/nutpuncher
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
  binary:
    name: Upload binaries for ${{ matrix.os-name }}
    runs-on: ${{ matrix.runner-os }}
    if: github.ref_type == 'tag'
    env:
      BINARY: NutPuncher-${{ matrix.os-name }}-${{ github.ref_name }}${{ matrix.bin-ext }}
    strategy:
      matrix:
        include:
          - os-name: Windows
            runner-os: windows-2022
            bin-ext: .exe
          - os-name: Linux
            runner-os: ubuntu-24.04
            bin-ext: ""
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure
        run: cmake -S . -B build -G Ninja -D CMAKE_BUILD_TYPE=Release -D NUTPUNCH_BUILD_SERVER=ON ${{ github.ref_name == 'staging' && '-D NUTPUNCH_STAGING=ON' || '' }}
      - name: Build
        run: cmake --build build --target NutPuncher
      - name: Rename binary artifact
        # Expand `$BINARY` directly since pwsh wants `$env:BINARY`, while bash accepts `$BINARY`, which confuses the command run between those two shells.
        run: cp build/NutPuncher${{ matrix.bin-ext }} ${{ env.BINARY }}
      - name: Release binary
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ env.BINARY }}
  deploy:
    name: Deploy the public instance
    runs-on: ubuntu-24.04
    if: github.ref_type == 'tag'
    needs: binary
    env:
      BINARY: /usr/local/bin/NutPuncher-${{ github.ref_name }}
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: nutpunch.schwung.us
          username: root
          key: ${{ secrets.PUBLIC_INSTANCE_SSH_KEY }}
          script: |
            systemctl stop nutpuncher@${{ github.ref_name }} || true
            wget -O ${{ env.BINARY }} https://github.com/Schwungus/nutpunch/releases/download/${{ github.ref_name }}/NutPuncher-Linux-${{ github.ref_name }}
            chmod +x ${{ env.BINARY }}
            systemctl start nutpuncher@${{ github.ref_name }} && echo Restarted service || exit 1
